.text-decorator-none {
    text-decoration: none;
}

.card-w {
    width: 300px;
}



.doa {
    font-family: 'Abhaya Libre ExtraBold';
    color: #292828;
    font-style: normal;
    font-size: 40px;
    line-height: 110px;
    letter-spacing: -0.04em;
    text-align: center;    
}
.display{
    display: flex !important;
    justify-content: space-between;
    

}

@media (max-width: 768px) {
    /* … */

    .display{
        padding-left: 23vw !important;
        
    }
  }

  @media (max-width: 425px) {
    .display{
        padding-left: 3vw !important;
    }
  }
  
  @media (max-width: 375px) {
    .display{
        padding-left: 0vw !important;
        margin-left: -25px !important;
        
    }
  }
  
  @media (max-width: 320px) {
    .display{
        padding-left: 0vw !important;
        margin-left: -30px !important;
        
    }
  }