.box1{
    background-color: rgba(255, 228, 219, 0.96);
    box-shadow: 0px 5px 15px rgb(177, 117, 117);
    

}
.box2{
    background-color: rgba(255, 228, 219, 0.96);


}
.siga{
    font-size: 20px;
}

