.sim{
    color: white !important;
    background-color: green !important;
    border: 1px solid green !important;
    width: 100px !important;
}

.nao{
    color: red !important;
    background-color: white !important;
    border: 1px solid red !important;
    width: 100px !important;
}


.margin-top{
    margin-top: 500px !important;
}


