.h1 {
    position: absolute;
    width: 540px;
    height: 288px;
    text-align: center;
    margin-top: 60px;


    font-family: 'Abhaya Libre ExtraBold';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 96px;
    /* or 110% */

    letter-spacing: -0.04em;

    color: #393939;

    mix-blend-mode: luminosity;
}

.img1 {
    width: 500px;
    mix-blend-mode: darken;
    margin-top: 4rem;
    position: relative;

}

.p {
    
    width: 500px;
    height: 100px;
    margin-left: 5vw;
    margin-top: 35vh;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 50px;
    /* or 227% */

    letter-spacing: 0.02em;

    /* Subtitles */

    color: #425466;

    mix-blend-mode: luminosity;
}

.img5 {
    width: 500px;
    mix-blend-mode: darken;
    margin-top: 4rem;
    position: relative;

}

.afastar{
    display: block;
    margin-left: auto;
}

@media (max-width:768px) {
    .img5{
        padding-left: 17vw;
        margin-top: 16vh;
    }

    .h1{
        padding-left: 15vw;
        padding-right: 15vw;
    }

    .p{
        text-align: center;
        padding-top: 5vh;
        padding-left: 13vw;
        padding-right: 15vw;
    
    }

}

@media (max-width:425px) {
    .h1{
        font-size: 45px;
        padding-left: 0 !important;
        width: 100vw;
        padding-right: 15vw;
        margin-top: 0;
    }

    .p{
        text-align: center;
        padding-top: 5vh;
        padding-left: 0 !important;
        margin-left: 10vw;
        width: 80vw;
        padding-right: 15vw;
        margin-top: 25vh;
        
    
    }

    .img5{
        padding-left: 0vw;
        margin-top: 40vh;
        width: 100vw;
    }

}

@media (max-width:375px){
    .h1{
        font-size: 40px;
        padding-left: 0 !important;
        width: 100vw;
        padding-right: 15vw;
        margin-top: 0;
    }

    .p{
        text-align: center;
        padding-top: 5vh;
        padding-left: 0 !important;
        margin-left: 10vw;
        width: 80vw;
        padding-right: 15vw;
        margin-top: 25vh;
        
    
    }

    .img5{
        padding-left: 0vw;
        margin-top: 50vh;
        width: 100vw;
    }
}

@media (max-width:320px){
    .h1{
        font-size: 35px;
        padding-left: 0 !important;
        width: 100vw;
        padding-right: 15vw;
        margin-top: 0;
    }

    .p{
        text-align: center;
        padding-top: 0vh;
        padding-left: 0 !important;
        margin-left: 10vw;
        width: 80vw;
        padding-right: 15vw;
        margin-top: 25vh;
        
    
    }

    .img5{
        padding-left: 0vw;
        margin-top: 67vh;
        width: 100vw;
    }
}