.logo2{

    width: 150px;
    margin-top: 50px;

}
.texto2{
font-weight: bold !important;
font-family: 'Abhaya Libre ExtraBold' !important;
}

.btnCancelar{
margin-right: 20px !important;
background-color:#BC363A!important;
color: white !important;

}

.cdts{
    
    background-color:#BC363A!important;
    color: white !important;
}
